@import url('https://fonts.googleapis.com/css?family=Roboto');
 * {
	 margin: 0;
	 padding: 0;
	 font-family: 'Roboto', sans-serif;
	 box-sizing: border-box;
	 color: yellow;
}

@font-face {
    font-family: "sw-font";
    src: url("./asset/star-jedi-font/Starjedi.ttf");
}


li {
    list-style-type: none;
    margin: .8em 0em;
}

html, body {
	 height: 100%;
	 background-image: url("./asset/bg.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
}

section {
	width: 400px;
	margin-left: 400px;
	text-align: center;
}

.sidenav {
	position: fixed;
	width: 400px;
	height: 100%;
	padding-top: 6em;
	padding-left: 0em;
	font-size: larger;
}

.sidenav h4 {
	position: relative;
	color:yellow;
	font-family: "sw-font";
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 2em;
}

.filters {
	font-style: italic;
	font-size: smaller;
	padding: 1em;
	margin-bottom: 2em;
}
